---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Just a Hint',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Us</h1>
			<p>
			</p>
		</div>
    <!-- <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture> -->
	</HeroSection>
  <TextSection narrow>
    <p>
      Just a Hint is a small, family-owned business that was founded in 2023.
    </p>
    <p>
      We have always loved strectching our imaginations with puzzle and memory games.
    </p>
    <p>
      Some favourites of ours throughout the years include: Scrabble (of course), Bananagrams in its many iterations, classic crosswords, Mastermind, and since 2021 we have been hooked on Wordle. 
    </p>
    <p>So, if you love word games, you're in the right place, and we hope you stick around and find something new to play.
    </p>
  </TextSection>
</Layout>
