---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
    posts
        .map(({ frontmatter, url }) => {
            const publishDateOb = new Date(frontmatter.publishDate);
            return {
                title: frontmatter.title,
                description: frontmatter.description,
                authors: frontmatter.authors,
                publishDate: frontmatter.publishDate,
                publishDateOb: publishDateOb,
                featuredImage: frontmatter.featuredImage,
                excerpt: frontmatter.excerpt,
                href: url,
            }
        })
        .filter(({ publishDateOb }) => {
            const today = new Date();
            const oneWeekAgo = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
            return publishDateOb >= oneWeekAgo && publishDateOb <= today;
        })
        .sort((a, b) => {
            if (a.publishDateOb > b.publishDateOb) return -1;
            if (b.publishDateOb > a.publishDateOb) return 1;
            return 0;
        })
);


const seo = {
	title: 'All Hints | Just a Hint',
	description: 'Just a Hint - All Hints',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Find your new favourite game before the group chat</h1>
			<p>
				We very, <em>very</em> rarely send our readers a heads-up about new puzzle games.  
				<br><br>
				Most games aren't worth your time, but when we find one that is, you can hear about it first.
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Hints</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
