---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
---
<!-- RRSS: this updates the homepage hero section. Drop a headline, tag, button copy, button destination -->
<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>Don't Lose Your Streak</h1>
				<p>
					We help honest players get unstuck, with daily hints for your favourite games.
				</p>
				<div class="hero-btns__container">
					<Button href="/theme/get-started" customIcon
						>See Today's Hints
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<!-- <Button href="/theme/style-guide" unelevated>Style Guide</Button> Uncomment this to get a second button back on the homepage -->
				</div>
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="assets/justahint-hero.png"
						alt="Word Game Hint Site Hero Image"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
