---
import {
  // AnnouncementBar,
  	Container,
	// FeatureCard,
	Button,
	CustomerQuoteSection,
	// ThreeColumnTextSection,
	// YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
	// TextCardSection,
	// BlogPostsList,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
// import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { parse, isBefore } from 'date-fns';
// import NewsletterForm from '../components/forms/NewsletterForm.astro';
import { Icon } from 'astro-icon';
import BlogPostsList from '../components/blog/BlogPostsList.astro';

const seo = {
	title: 'Home | Just a Hint',
	description: 'Homepage of Word Game hint site Just a Hint',
};

const posts = await Astro.glob('./blog/posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

//images 
import homepage_img_1 from '../assets/images/justahint-3.webp'
import hero_image from '../assets/images/justahint-hero.webp'
---

<!-- // RRSS: here's an announcement bar if you wanna put something up top of this homepage 
<AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/>  -->

<Layout seo={seo} >
	
	<!-- 
		this is the whole code from the homeHeroSection component, 
		I couldn't get the images to work when importing the component, 
		so I've just brought the whole component in here  
	-->

	<Container>
		<section class="hero-section__section">
			<div class="hero-section__text">
					<h1>Don't Lose Your Streak</h1>
					<p>
						We help honest players get unstuck, with daily hints for your favourite games.
					</p>
					<div class="hero-btns__container"> <!-- TODO make this point to today's hint -->
						<Button href="/blog" customIcon
							>See Today's Hints
				<Fragment slot="icon">
				  <Icon name="ic:baseline-chevron-right"/>
				</Fragment>
				</Button
						>
						<!-- <Button href="/theme/style-guide" unelevated>Style Guide</Button> Uncomment this to get a second button back on the homepage -->
					</div>
			</div>
	
			<div class="hero-section__image"> 
				<image 
					src={hero_image.src}
					alt="ancient greek scholars looking at a daily word game hint."
				/>
			</div>
		</section>
	</Container>

	<CustomerQuoteSection
		quoteText="I love your hints!  Never any spoilers (because I still want to have fun) but some days, when I'm run off my feet, Just a Hint is exactly what I need."
		customerName="Janice K"
	/>

	<!-- <ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Why?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h2>What?</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection> -->

	<!-- <YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded /> -->

  <StickyTextImageSection>
		<div slot="text-container">
		<h2>Features</h2>
		<h3>No Cheating</h3>
		<p>
			You can sleep well at night, because you completed the Wordle today with just a hint.  
			Ahhhhh, feels good right? Dignity: intact.
		</p>
		<h3>Made by Puzzle Fans</h3>
			<p>
				Admit it.  You can't stop texting the group chat with your score, 
				or smiling to yourself when you get a new streak record.  
				We know, because... we do it too. 
		</p>
		<h3>Ad Free</h3>
			<p>
				We don't bombard you with ads, nor do we sell your data.  
				Simple.
		</p>
		</div>
		<image 
			slot="image-container"
			src={homepage_img_1.src}
			alt="ancient greek scholars looking at a daily word game hint."
			loading="lazy"
		/>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
   		 <h2>Don't Let Auntie Margaret Beat you Again</h2>
   		 <p>Beat you at Wordle, not like... ah never mind.</p>
		 <!-- RRSS another button to point somewhere! -->
		<Button href="/blog" customIcon>Beat Auntie Marg <Fragment slot="icon"> 
   		<Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>
	
	
 <!--RRSS: TODO, I plan to use this section to display some key pSEO pages in the future, but right now it is not meaningful -->

 	<!-- <Container>
		<section class="feature-card__section">
			<h2>Landing Pages</h2>
			<p>
				Use one of our is this what I'm editing? pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Landing Page 1" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Landing Page 2" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container> -->

	<!-- this container is from the template's blog page -->
	<Container>
		<section class="blog-posts-list__section">
			<h2>Recent Hints</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>

</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
/* this blog-posts styling is from the template's blog page */
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}

	/* 	
		this styling is for the HomeHeroSection.  
		the only reason it needs to be here is because 
		I had to pull the HomeHeroSection in here because 
		images weren't working when importing the component. 
		If I fix that, remove this styling. 
	*/
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
